argon2==0.1.10
argon2-cffi==19.1.0
asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.1.4
cupshelpers==1.0
Django==2.1.5
django-appconf==1.0.2
django-axes==4.5.4
django-cors-headers==2.2.0
django-ipware==2.1.0
django-material==1.4.3
djangorestframework==3.9.0
entrypoints==0.2.3.post1
gunicorn==19.8.1
idna==2.7
keyring==12.2.1
keyrings.alt==3.0
pexpect==4.2.1
Pillow==8.1.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.28.2
pysmbc==1.0.15.6
python-apt==1.6.0
python-debian==0.1.32
pytz==2018.9
pyxdg==0.25
reportlab==3.4.0
requests==2.19.1
SecretStorage==2.3.1
six==1.12.0
urllib3==1.23
whitenoise==3.3.1
