{% extends 'base.html' %}
{% load static %}

{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
<h1>Nuevo cliente</h1>
    <div class="container">
      <form method="post">{% csrf_token %}
        <br> <br>
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Guardar" />
      </form>
    </div>

{% endblock content%}
