{% extends 'base.html' %}
{% load static %}

{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <div class="container">
        <h1>Lista de proveedores</h1>
        <ul>
          {% for proveedores in object_list %}
          <li><p>Proveedor ID: {{ proveedores.idproveedor }}</p>
          <p>Nombre: {{ proveedores.nombre }}</p>
          <a href="{% url "proveedores_edit" proveedores.idproveedor %}">Editar</a>
            <a href="{% url "proveedores_delete" proveedores.idproveedor %}">Eliminar</a>
          </li>
          {% endfor %}
        </ul>

        <a href="{% url "proveedores_new" %}">Ingresar nuevo proveedor.</a>
    </div>

{% endblock content%}
