{% extends 'base.html' %}
{% load static %}

{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
  <body>
    <div class="container">
      <form method="post">{% csrf_token %}
        ¿Está seguro de querer eliminar a "{{ object.nombre }}" ?
        <input class="btn btn-primary" type="submit" value="Sí" />
      </form>
    </div>
{% endblock content%}
